:root {
  --primary-color: #876445;
  --primary-color-light-1: #f5e5ba;
  --primary-color-light-2: #f8edcf;
  --primary-color-dark-1: #ca965c;
  --color-white: #fff;
}

@keyframes button-animation {
  0% {
    color: var(--color-white);
  }

  50% {
    color: var(--primary-color);
    transform: translateY(5px);
  }
  100% {
    color: var(--color-white);
    transform: translateY(0);
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #281e15;
}

.container {
  max-width: 170rem;
  margin: 19.2rem auto;
}

.hidden {
  display: none;
}
.footer-container {
  max-width: 170rem;
  margin: 0 auto;
}
/*
/////////////////////////////////////////
HEADER
/////////////////////////////////////////
*/

.header {
  background-color: var(--primary-color);
  max-width: 100%;
  height: 10rem;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.main-nav__list {
  list-style: none;
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.main-nav__list-item {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.main-nav__list-link:link,
.main-nav__list-link:visited {
  display: inline-block;
  color: var(--color-white);
  text-decoration: none;
  cursor: pointer;
  position: relative;
  padding-bottom: 0.25rem;
}
.main-nav__list-link:hover,
.main-nav__list-link:active {
  color: var(--primary-color-light-2);
}
.main-nav__list-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--primary-color-light-2);
  transition: width 0.3s ease-in-out;
}
.main-nav__list-link:hover:before {
  width: 100%;
}

/* 
/////////////////////////////////////////
FOOTER
///////////////////////////////////////// 
*/
.footer {
  background-color: var(--primary-color);
  padding: 6.4rem 0;
  color: var(--primary-color-light-1);
}
.footer-container {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}

.logo-col__list {
  list-style: none;
  display: flex;
  margin-top: 2.4rem;
  gap: 2.4rem;
}
.logo-col__list-link:link,
.logo-col__list-link:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--primary-color-light-1);
  transition: all 0.3s;
}

.logo-col__list-link:hover,
.logo-col__list-link:active {
  color: var(--color-white);
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: var(--primary-color-light-2);
}
.logo-col__copyright {
  font-size: 1.6rem;
  margin-top: 1.6rem;
}
.addresses,
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;
}
.footer-address-link {
  text-decoration: none;
  color: var(--primary-color-light-1);
  transition: all 0.3s;
}
.footer-address-link:hover {
  color: var(--color-white);
}
.footer-nav {
  font-size: 1.6rem;
  list-style: none;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  text-decoration: none;
  color: var(--primary-color-light-1);
  transition: all 0.3s;
}
.footer-nav-link:hover,
.footer-nav-link:active {
  color: var(--color-white);
}
