@media (max-width: 95em) {
  .map {
    height: 50rem;
  }
  .section-info__table-heading {
    font-size: 3.2rem;
  }
  .section-info__table {
    font-size: 2.2rem;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 56.25%;
  }
  .section-about__text {
    line-height: 1.5;
  }
  .map {
    height: 45rem;
  }
  .header-logo {
    height: 7rem;
  }
  .section-hero__heading-primary {
    font-size: 4.8rem;
  }
  .section-hero__heading-secondary {
    font-size: 2.4rem;
  }
}
@media (max-width: 72em) {
  html {
    font-size: 50%;
  }
  .main-nav__list-item {
    font-size: 1.8rem;
  }
  .section-sponsors__text-boxes {
    padding: 4rem;
  }
}
@media (max-width: 66em) {
  .section-info,
  .section-about {
    grid-template-columns: 1fr;
    max-width: 75%;
    row-gap: 6.4rem;
  }
  .section-about__img {
    display: none;
  }
  .section-about__text-box {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.8)
      ),
      url(../img/section_about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 10rem 5rem;
  }
  .section-hero {
    margin-bottom: 0;
  }
  .container {
    margin: 15rem auto;
  }
  .section-about__img-box {
    padding: 0;
  }
  .map {
    height: 50rem;
  }
  .sponsor-logo {
    width: 65%;
  }
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 100;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .close {
    display: block;
  }
  .nav-open .open {
    display: none;
  }
  .main-nav__list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav__list-link:link,
  .main-nav__list-link:visited {
    font-size: 3rem;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .section-hero {
    background-attachment: local;
  }
}
@media (max-width: 44em) {
  html {
    font-size: 37.5%;
  }
  .header-logo {
    height: 10rem;
  }
}
@media (max-width: 28em) {
  .footer-logo-img {
    width: 80%;
  }
  .footer {
    font-size: 1.8rem;
  }
  .footer-container {
    column-gap: 4.8rem;
  }
  .section-info__table {
    font-size: 1.8rem;
  }
  .section-info__table-heading {
    font-size: 3rem;
  }
}
