/*
/////////////////////////////////////////
HEADER
/////////////////////////////////////////
*/
/* dodać animacje wejścia */

.header {
  background-color: var(--primary-color);
  max-width: 100%;
  height: 9vh;
}

.main-nav__list {
  list-style: none;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
}

.main-nav__list-item {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.main-nav__list-link:link,
.main-nav__list-link:visited {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
  position: relative;
  transition: color 0.2s;
}

.main-nav__list-link:hover,
.main-nav__list-link:active {
  color: var(--primary-color-light-1); /* do zmiany jeszcze */
}

/* 
/////////////////////////////////////////
SECTION HERO
///////////////////////////////////////// 
*/

.section-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  height: 91vh;
  margin-bottom: 9.6rem;
}
.section-hero__heading-primary {
  font-size: 6.4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  font-weight: 500;
}
.section-hero__heading-secondary {
  font-size: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  font-weight: 500;
}

.hero-section-btn {
  position: absolute;
  bottom: 2%;
}
.hero-section-icon {
  height: 4.8rem;
  width: 4.8rem;
  animation: button-animation 1s infinite;
}

/* 
/////////////////////////////////////////
SECTION ABOUT
///////////////////////////////////////// 
*/
.section-about {
  display: flex;
  gap: 8rem;
}
.section-about__text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-about__img {
  max-width: 40%;
}
.section-about__text {
  font-size: 2rem;
  /* max-width: 100%; */
}

.section-about__button {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--primary-color);
  margin-top: 3rem;
  padding: 2rem;
  border: none;
  align-self: flex-start;
  transition: all 0.3s;
  cursor: pointer;
}
.section-about__button:hover {
  background-color: var(--primary-color-dark-1);
}
/* 
/////////////////////////////////////////
SECTION INFO
///////////////////////////////////////// 
*/
.section-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.section-info__table {
  font-size: 2.4rem;
  width: 80rem;
  border: 5px dashed var(--primary-color);
  padding: 2.4rem;
}
td {
  text-align: end;
  height: 15rem;
}
.section-info__table-heading {
  font-size: 3.6rem;
  text-align: center;
  height: 7rem;
}
.section-info__table-text {
  text-align: left;
}
.section-info__span {
  color: var(--primary-color);
}
.section-info__map {
  border: 5px dashed var(--primary-color);
  padding: 2.3rem;
}
