/*
/////////////////////////////////////////
HEADER
/////////////////////////////////////////
*/
/* dodać animacje wejścia */

.header {
  background-color: var(--primary-color);
  max-width: 100%;
  height: 10rem;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.main-nav__list {
  list-style: none;
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.main-nav__list-item {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.main-nav__list-link:link,
.main-nav__list-link:visited {
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
  position: relative;
  transition: color 0.2s;
}

.main-nav__list-link:hover,
.main-nav__list-link:active {
  color: var(--primary-color-light-1); /* do zmiany jeszcze */
}

/* 
/////////////////////////////////////////
SECTION HERO
///////////////////////////////////////// 
*/

.section-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90rem;
  margin-bottom: 9.6rem;
}
.section-hero__heading-primary {
  font-size: 6.4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  font-weight: 500;
}
.section-hero__heading-secondary {
  font-size: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  font-weight: 500;
}

.hero-section-btn {
  position: absolute;
  bottom: 2%;
}
.hero-section-icon {
  height: 4.8rem;
  width: 4.8rem;
  animation: button-animation 1s infinite;
}

/* 
/////////////////////////////////////////
SECTION ABOUT
///////////////////////////////////////// 
*/
.section-about {
  display: flex;
  gap: 8rem;
}
.section-about__text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-about__img {
  max-width: 40%;
}
.section-about__text {
  font-size: 2rem;
}
.section-about__heading-secondary {
  font-size: 3.2rem;
  text-transform: uppercase;
}
.section-about__button {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--primary-color);
  margin-top: 3rem;
  padding: 2rem;
  border: none;
  align-self: flex-start;
  transition: all 0.3s;
  cursor: pointer;
}
.section-about__button:hover {
  background-color: var(--primary-color-dark-1);
  transform: scale(1.1);
}
/* 
/////////////////////////////////////////
SECTION INFO
///////////////////////////////////////// 
*/
.section-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.section-info__table {
  font-size: 2.4rem;
  width: 80rem;
  border: 5px dashed var(--primary-color);
  padding: 2.4rem;
}
td {
  text-align: end;
  height: 15rem;
}
.section-info__table-heading {
  font-size: 3.6rem;
  text-align: center;
  height: 7rem;
  text-transform: uppercase;
}
.section-info__table-text {
  text-align: left;
}
.section-info__span {
  color: var(--primary-color);
}
.section-info__map {
  border: 5px dashed var(--primary-color);
  padding: 2.3rem;
}
/* 
/////////////////////////////////////////
SECTION SPONSORS
///////////////////////////////////////// 
*/

.section-sponsors__heading-secondary {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.section-sponsors__box {
  background-color: var(--primary-color);
  border-bottom: 10px solid var(--primary-color-dark-1);
  padding: 1rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.2rem;
}
.sponsor-logo {
  width: 20rem;
  cursor: pointer;
  transition: all 0.2s;
}
.sponsor-logo:hover {
  transform: scale(1.1);
}
.sponsor-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.section-sponsors__text-boxes {
  background-color: var(--primary-color-light-1);
  height: 30rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
/////////////////////////////////////////
FOOTER
///////////////////////////////////////// 
*/
.footer {
  background-color: var(--primary-color);
  padding: 6.4rem 0;
  color: var(--primary-color-light-1);
}
.footer-container {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
}

.logo-col__list {
  list-style: none;
  display: flex;
  margin-top: 2.4rem;
  gap: 2.4rem;
}
.logo-col__list-link:link,
.logo-col__list-link:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--primary-color-light-1);
  transition: all 0.3s;
}

.logo-col__list-link:hover,
.logo-col__list-link:active {
  color: grey;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: var(--primary-color-light-2);
}
.logo-col__copyright {
  font-size: 1.6rem;
  margin-top: 1.6rem;
}
.addresses,
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;
}
.footer-address-link {
  text-decoration: none;
  color: var(--primary-color-light-1);
}

.footer-nav {
  font-size: 1.6rem;
  list-style: none;
}

.footer-nav-link:link,
.footer-nav-link:visited {
  text-decoration: none;
  color: var(--primary-color-light-1);
  transition: all 0.3s;
}
.footer-nav-link:hover,
.footer-nav-link:active {
  color: white;
}
