/* 
/////////////////////////////////////////
SECTION HERO
///////////////////////////////////////// 
*/

.section-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90rem;
  margin-bottom: 9.6rem;
}
.section-hero__heading-primary {
  font-size: 6.4rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  font-weight: 500;
}
.section-hero__heading-secondary {
  font-size: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  font-weight: 500;
}

.hero-section-btn {
  position: absolute;
  bottom: 2%;
}
.hero-section-icon {
  height: 4.8rem;
  width: 4.8rem;
  animation: button-animation 1s infinite;
}

/* 
/////////////////////////////////////////
SECTION ABOUT
///////////////////////////////////////// 
*/
.section-about {
  display: flex;
  gap: 8rem;
}
.section-about__text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-about__img {
  max-width: 40%;
}
.section-about__text {
  font-size: 2rem;
}
.section-about__heading-secondary {
  font-size: 3.2rem;
  text-transform: uppercase;
}
.section-about__button {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--primary-color);
  margin-top: 3rem;
  padding: 2rem;
  border: none;
  align-self: flex-start;
  transition: all 0.3s;
  cursor: pointer;
}
.section-about__button:hover {
  background-color: var(--primary-color-light-1);
  color: inherit;
  transform: scale(1.1);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
}
/* 
/////////////////////////////////////////
SECTION INFO
///////////////////////////////////////// 
*/
.section-info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.section-info__table {
  font-size: 2.4rem;
  width: 80rem;
  border: 5px dashed var(--primary-color);
  padding: 2.4rem;
}
td {
  text-align: end;
  height: 15rem;
}
.section-info__table-heading {
  font-size: 3.6rem;
  text-align: center;
  height: 7rem;
  text-transform: uppercase;
}
.section-info__table-text {
  text-align: left;
}
.section-info__span {
  color: var(--primary-color);
}
.section-info__map {
  border: 5px dashed var(--primary-color);
  padding: 2.3rem;
}
/* 
/////////////////////////////////////////
SECTION SPONSORS
///////////////////////////////////////// 
*/

.section-sponsors__heading-secondary {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.section-sponsors__box {
  background-color: var(--primary-color);
  border-bottom: 10px solid var(--primary-color-dark-1);
  padding: 1rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.2rem;
}
.sponsor-logo {
  width: 20rem;
  cursor: pointer;
  transition: all 0.2s;
}
.sponsor-logo:hover {
  transform: scale(1.1);
}
.sponsor-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.section-sponsors__text-boxes {
  background-color: var(--primary-color-light-1);
  height: 30rem;
  width: 100%;
  padding: 3rem;
  display: flex;
  align-items: center;
}
